***
# Car sales
***

### Déterminer les ventes annuelles de 2017 à 2021

<u>Méthodologie</u> : <br>  
- ventes = stock_t - stock_t-1

Note : possiblité de sous-estimer les ventes puisque certain véhicules peuvent sortir ou entrer le parc (accident, remisage, véhicules saisoniers) 
***

In [2]:
# Create folders and getting path
import os
cwd = os.getcwd()

# Loop to create folders
folder_names = ['Dataframe', 'Output', 'Data']

folders = {}
for folder_name in folder_names:
    folders[folder_name] = os.path.join(cwd, folder_name)

    if not os.path.exists(os.path.join(cwd, folder_name)):
        os.makedirs(os.path.join(cwd, folder_name))
        print(f'Le dossier « {folder_name} » a été créé')

    else:
        print(f'Le dossier « {folder_name} » est existant')


# Création des variables de path

# Déterminer si os est win ou linux pour définir les path
if os.name == 'nt':
    slash = '\\'
elif os.name == 'posix':
    slash = '/'

path_prog =     cwd + slash
path_data =     folders['Data'] + slash
path_df =       folders['Dataframe'] + slash
path_output =   folders['Output'] + slash

# Mettre \\ pour éviter les erreurs
path_dict = [path_prog, path_data, path_df, path_output]
for path in path_dict:
    path = path.replace('\\','\\\\')


# Détermination de l'année
print()
print(path_prog)
print(path_data)
print(path_df)
print(path_output)

Le dossier « Dataframe » est existant
Le dossier « Output » est existant
Le dossier « Data » est existant

c:\Users\Charles_tour\Documents\GitHub\car_sales_predictions\
c:\Users\Charles_tour\Documents\GitHub\car_sales_predictions\Data\
c:\Users\Charles_tour\Documents\GitHub\car_sales_predictions\Dataframe\
c:\Users\Charles_tour\Documents\GitHub\car_sales_predictions\Output\

***

In [3]:
import pandas as pd
pd.set_option('display.max_columns', 1000)

saaq2016 = pd.read_csv(path_data + 'vehicules-circulation-2016.csv')
saaq2017 = pd.read_csv(path_data + 'vehicule-en-circulation-2017.csv')
saaq2018 = pd.read_csv(path_data + 'vehicule-en-circulation-2018.csv')

In [4]:
# Keep light duty vehicles
saaq_df = {
    # 2016 : saaq2016, 
    2017 : saaq2018,
    2018 : saaq2018
}

for year, df in saaq_df.items():
    print('-'*25)
    print(f'SAAQ_{year}')
    print('-'*25)
    print(f'Shape initial : {df.shape}')
    print(f'Nombre d\'observation total SAAQ_{year} : {len(df)}')
    saaq_df[year] = df.loc[(df['CLAS'] == 'PAU') | (df['CLAS'] == 'CAU') | (df['CLAS'] == 'TTA')]
    print(f'Nombre d\'observation light duty SAAQ_{year}: {len(saaq_df[year])}')
    print(df.columns.tolist())

-------------------------
SAAQ_2017
-------------------------
Shape initial : (6552488, 19)
Nombre d'observation total SAAQ_2017 : 6552488
Nombre d'observation light duty SAAQ_2017: 5231017
['AN', 'NOSEQ_VEH', 'CLAS', 'TYP_VEH_CATEG_USA', 'MARQ_VEH', 'MODEL_VEH', 'ANNEE_MOD', 'MASSE_NETTE', 'NB_CYL', 'CYL_VEH', 'NB_ESIEU_MAX', 'COUL_ORIG', 'TYP_CARBU', 'TYP_DOSS_PERS', 'PHYS_SEX', 'PHYS_AGE', 'REG_ADM', 'MRC', 'CG_FIXE']
-------------------------
SAAQ_2018
-------------------------
Shape initial : (6608276, 19)
Nombre d'observation total SAAQ_2018 : 6608276
Nombre d'observation light duty SAAQ_2018: 5259496
['AN', 'NOSEQ_VEH', 'CLAS', 'TYP_VEH_CATEG_USA', 'MARQ_VEH', 'MODEL_VEH', 'ANNEE_MOD', 'MASSE_NETTE', 'NB_CYL', 'CYL_VEH', 'NB_ESIEU_MAX', 'COUL_ORIG', 'TYP_CARBU', 'TYP_DOSS_PERS', 'PHYS_SEX', 'PHYS_AGE', 'REG_ADM', 'MRC', 'CG_FIXE']

In [5]:
saaq_df[2017]['CLAS'].unique()

array(['PAU', 'CAU', 'TTA'], dtype=object)

In [6]:
# Data type
saaq_df[2017].dtypes

AN                     int64
NOSEQ_VEH             object
CLAS                  object
TYP_VEH_CATEG_USA     object
MARQ_VEH              object
MODEL_VEH             object
ANNEE_MOD            float64
MASSE_NETTE          float64
NB_CYL               float64
CYL_VEH              float64
NB_ESIEU_MAX         float64
COUL_ORIG             object
TYP_CARBU             object
TYP_DOSS_PERS         object
PHYS_SEX              object
PHYS_AGE             float64
REG_ADM               object
MRC                   object
CG_FIXE              float64
dtype: object

In [7]:
# Missing values
saaq_df[2017].isna().sum()

AN                         0
NOSEQ_VEH                  0
CLAS                       0
TYP_VEH_CATEG_USA          0
MARQ_VEH                 432
MODEL_VEH               5530
ANNEE_MOD                  0
MASSE_NETTE             1039
NB_CYL                 15855
CYL_VEH                25350
NB_ESIEU_MAX         5231017
COUL_ORIG             434993
TYP_CARBU                  2
TYP_DOSS_PERS              0
PHYS_SEX              530324
PHYS_AGE              530324
REG_ADM                21594
MRC                    21594
CG_FIXE                21594
dtype: int64

In [8]:
# Delete missing values
for year, df in saaq_df.items():
    saaq_df[year] = df.dropna(subset='MODEL_VEH')
# Pour l'instant on delete les modèle, mais éventuellement, il pourrait être intéressant de déterminer quelle marque le véhicule est avec ses caractéristiques

In [9]:
saaq_df[2017].isna().sum()

AN                         0
NOSEQ_VEH                  0
CLAS                       0
TYP_VEH_CATEG_USA          0
MARQ_VEH                   0
MODEL_VEH                  0
ANNEE_MOD                  0
MASSE_NETTE             1016
NB_CYL                 15757
CYL_VEH                20123
NB_ESIEU_MAX         5225487
COUL_ORIG             430415
TYP_CARBU                  2
TYP_DOSS_PERS              0
PHYS_SEX              529834
PHYS_AGE              529834
REG_ADM                21577
MRC                    21577
CG_FIXE                21577
dtype: int64

*** 
# Estimation des ventes

### <u>À titre de comparatif </u>

<u>Les ventes en 2017</u> <br>
selon : https://www.automedia.ca/ventes-au-quebec-annee-2017/ <br>
Voiture = 187 529 <br>
Camion léger = 274 558 <br>
Total = 462 087 <br>
<br>

<u>Plus récemment</u> <br>
selon : https://www.automedia.ca/stats-ventes-2022-fev-mars-2023/
GRAND TOTAL DES VENTES DE VÉHICULES NEUFS AU QUÉBEC : 2022 = 369982, 2023 = 406980

selon : https://www.protegez-vous.ca/nouvelles/automobile/palmares-des-ventes-de-vehicules-neufs-en-2022#:~:text=Ainsi%2C%20contrairement%20%C3%A0%202021%2C%20les,recul%20de%2010%2C9%20%25. <br>
« Ainsi, contrairement à 2021, les ventes totales de véhicules neufs ont baissé en 2022. Elles sont passées de 400 844 à 357 030 unités »
***

In [10]:
# vente =  vé_t - vé_t-1
# Puique qu'on a pas d'info sur le vente usagés, on va se concentrer sur les ventes neufs
# On estime que les ventes neuves sont tous les véhicules de l'année des données
saaq_2017 = saaq_df[2017].loc[saaq_df[2017]['ANNEE_MOD'] >= 2017]
saaq_2018 = saaq_df[2018].loc[saaq_df[2018]['ANNEE_MOD'] >= 2017]
# Note : si on prend juste les années modèle >= 2017, on surestime les ventes

In [12]:
print(len(saaq_2017))
print(len(saaq_2018))
print(len(saaq2018) - len(saaq2017))

496045
914952
55788

In [13]:
saaq_2017.head(2)

,AN,NOSEQ_VEH,CLAS,TYP_VEH_CATEG_USA,MARQ_VEH,MODEL_VEH,ANNEE_MOD,MASSE_NETTE,NB_CYL,CYL_VEH,NB_ESIEU_MAX,COUL_ORIG,TYP_CARBU,TYP_DOSS_PERS,PHYS_SEX,PHYS_AGE,REG_ADM,MRC,CG_FIXE
15,2017,2017_0000000016,PAU,AU,FORD,ESCAP,2017.0,1662.0,4.0,2001.0,NaN,ROU,E,P,F,76.0,Centre-du-Québec (17),Drummond (49 ),49030.0
21,2017,2017_0000000022,PAU,AU,CHEVR,VOLT,2017.0,1578.0,4.0,1509.0,NaN,NOI,W,P,M,33.0,Saguenay–Lac-Saint-Jean (02),Saguenay (941),94068.0

In [99]:
saaq_2017_key = saaq_2017
saaq_2018_key = saaq_2018

# Add column key for merging
# columns_to_join = ['CLAS', 'MARQ_VEH', 'MODEL_VEH', 'ANNEE_MOD', 'MASSE_NETTE', 'NB_CYL', 'CYL_VEH', 'COUL_ORIG', 'TYP_CARBU', 'TYP_DOSS_PERS', 'PHYS_SEX', 'PHYS_AGE', 'REG_ADM', 'MRC', 'CG_FIXE']
columns_to_join = ['CLAS', 'MARQ_VEH', 'MODEL_VEH', 'ANNEE_MOD', 'MASSE_NETTE', 'NB_CYL', 'CYL_VEH', 'COUL_ORIG', 'TYP_CARBU', 'CG_FIXE']


def join_columns(row):
    return '_'.join(str(row[col]) for col in columns_to_join)

saaq_2017_key['merge'] = saaq_2017_key.apply(join_columns, axis=1)
saaq_2018_key['merge'] = saaq_2018_key.apply(join_columns, axis=1)

C:\Users\Charles_tour\AppData\Local\Temp\ipykernel_16084\3397142129.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  saaq_2017_key['merge'] = saaq_2017_key.apply(join_columns, axis=1)
C:\Users\Charles_tour\AppData\Local\Temp\ipykernel_16084\3397142129.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  saaq_2018_key['merge'] = saaq_2018_key.apply(join_columns, axis=1)

In [100]:
saaq_2017_key_merge = saaq_2017_key.filter(['merge'])
saaq_2018_key_merge = saaq_2018_key.filter(['merge'])

In [101]:
print(len(saaq_2017_key_merge))
print(len(saaq_2018_key_merge))

496045
914952

496045
914952

914952

In [102]:
group_2017 = saaq_2017_key_merge
group_2017['count_column'] = group_2017.groupby('merge')['merge'].transform('count')
group_2017 = group_2017.drop_duplicates(subset='merge')
print(group_2017['count_column'].sum())
group_2017

496045

                                                     merge  count_column
15       PAU_FORD_ESCAP_2017.0_1662.0_4.0_2001.0_ROU_E_...             2
21       PAU_CHEVR_VOLT_2017.0_1578.0_4.0_1509.0_NOI_W_...             2
40       PAU_NISSA_VERSA_2017.0_1113.0_4.0_1607.0_GRI_E...             1
43       PAU_TOYOT_YARIS_2018.0_1050.0_4.0_1492.0_ROU_E...             3
70       PAU_NISSA_PATHF_2017.0_2018.0_6.0_3509.0_BLA_E...             1
...                                                    ...           ...
6552290  PAU_VOLKS_GOLF_2017.0_1385.0_4.0_1984.0_BLA_E_...             1
6552315  PAU_CHEVR_SILVE_2017.0_2396.0_8.0_5297.0_GRI_E...             1
6552322  PAU_JEEP_WRANG_2017.0_1715.0_6.0_3608.0_ARG_E_...             1
6552428  PAU_KIA_SPORT_2017.0_1696.0_4.0_2361.0_ARG_E_5...             1
6552483  PAU_JEEP_CHERO_2017.0_1930.0_6.0_3198.0_GRI_E_...             1

[276509 rows x 2 columns]

In [103]:
group_2018 = saaq_2018_key_merge
group_2018['count_column'] = group_2018.groupby('merge')['merge'].transform('count')
group_2018 = group_2018.drop_duplicates(subset='merge')
print(group_2018['count_column'].sum())
group_2017

914952

                                                     merge  count_column
15       PAU_FORD_ESCAP_2017.0_1662.0_4.0_2001.0_ROU_E_...             2
21       PAU_CHEVR_VOLT_2017.0_1578.0_4.0_1509.0_NOI_W_...             2
40       PAU_NISSA_VERSA_2017.0_1113.0_4.0_1607.0_GRI_E...             1
43       PAU_TOYOT_YARIS_2018.0_1050.0_4.0_1492.0_ROU_E...             3
70       PAU_NISSA_PATHF_2017.0_2018.0_6.0_3509.0_BLA_E...             1
...                                                    ...           ...
6552290  PAU_VOLKS_GOLF_2017.0_1385.0_4.0_1984.0_BLA_E_...             1
6552315  PAU_CHEVR_SILVE_2017.0_2396.0_8.0_5297.0_GRI_E...             1
6552322  PAU_JEEP_WRANG_2017.0_1715.0_6.0_3608.0_ARG_E_...             1
6552428  PAU_KIA_SPORT_2017.0_1696.0_4.0_2361.0_ARG_E_5...             1
6552483  PAU_JEEP_CHERO_2017.0_1930.0_6.0_3198.0_GRI_E_...             1

[276509 rows x 2 columns]

In [104]:
# df_merge = group_2018.merge(group_2017, on='merge',indicator=True, suffixes=('_2018', '_2017'))
df_merge = pd.merge(group_2017, group_2018, how='outer', left_on='merge', right_on='merge', indicator=True)

df_merge

,merge,count_column_x,count_column_y,_merge
0,PAU_FORD_ESCAP_2017.0_1662.0_4.0_2001.0_ROU_E_...,2.0,2.0,both
1,PAU_CHEVR_VOLT_2017.0_1578.0_4.0_1509.0_NOI_W_...,2.0,2.0,both
2,PAU_NISSA_VERSA_2017.0_1113.0_4.0_1607.0_GRI_E...,1.0,1.0,both
3,PAU_TOYOT_YARIS_2018.0_1050.0_4.0_1492.0_ROU_E...,3.0,14.0,both
4,PAU_NISSA_PATHF_2017.0_2018.0_6.0_3509.0_BLA_E...,1.0,NaN,left_only
...,...,...,...,...
540046,PAU_CHEVR_TAHOE_2017.0_2514.0_8.0_5297.0_NOI_E...,NaN,1.0,right_only
540047,PAU_HONDA_CIVIC_2018.0_1224.0_4.0_2001.0_ARG_E...,NaN,1.0,right_only
540048,CAU_CHEVR_SILVE_2018.0_2473.0_8.0_5297.0_BLA_E...,NaN,1.0,right_only
540049,PAU_DODGE_GRAND_2018.0_1971.0_6.0_3608.0_BLA_E...,NaN,1.0,right_only
540050,CAU_NISSA_PATHF_2018.0_2009.0_6.0_3509.0_NOI_E...,NaN,1.0,right_only

In [106]:
df_merge.to_excel(path_output + 'df_merge.xlsx')

In [105]:
print(df_merge.loc[df_merge['_merge']=='both'].count_column_y.sum())

537331.0

In [107]:
print(len(df_merge.loc[df_merge['_merge']=='both']))
print(len(df_merge.loc[df_merge['_merge']!='both']))

241793
298258

In [108]:
print(df_merge['count_column_x'].sum())
print(df_merge['count_column_y'].sum())

496045.0
914952.0

In [112]:
# Ce qui est dans 2018 qui ne se retrouve pas dans 2017 serait les ventes
vente_2018 = df_merge.loc[df_merge['_merge']=='right_only']
print(vente_2018['count_column_y'].sum())
# vente_2018.to_excel(path_output + 'vente_2018.xlsx')
vente_2018

377621.0

,merge,count_column_x,count_column_y,_merge
276509,PAU_BMW_X3_2018.0_1885.0_4.0_2001.0_BLA_E_22015.0,NaN,1.0,right_only
276510,PAU_FORD_F150_2018.0_2150.0_6.0_2706.0_NOI_E_6...,NaN,1.0,right_only
276511,PAU_NISSA_KICKS_2019.0_1430.0_4.0_1607.0_ROU_E...,NaN,1.0,right_only
276512,CAU_CHEVR_MALIB_2018.0_1401.0_4.0_1509.0_BLA_E...,NaN,58.0,right_only
276513,PAU_FORD_EDGE_2018.0_1844.0_6.0_3509.0_NOI_E_8...,NaN,6.0,right_only
...,...,...,...,...
540046,PAU_CHEVR_TAHOE_2017.0_2514.0_8.0_5297.0_NOI_E...,NaN,1.0,right_only
540047,PAU_HONDA_CIVIC_2018.0_1224.0_4.0_2001.0_ARG_E...,NaN,1.0,right_only
540048,CAU_CHEVR_SILVE_2018.0_2473.0_8.0_5297.0_BLA_E...,NaN,1.0,right_only
540049,PAU_DODGE_GRAND_2018.0_1971.0_6.0_3608.0_BLA_E...,NaN,1.0,right_only
540050,CAU_NISSA_PATHF_2018.0_2009.0_6.0_3509.0_NOI_E...,NaN,1.0,right_only

In [115]:
saaq_2018_key.head(2)

,AN,NOSEQ_VEH,CLAS,TYP_VEH_CATEG_USA,MARQ_VEH,MODEL_VEH,ANNEE_MOD,MASSE_NETTE,NB_CYL,CYL_VEH,NB_ESIEU_MAX,COUL_ORIG,TYP_CARBU,TYP_DOSS_PERS,PHYS_SEX,PHYS_AGE,REG_ADM,MRC,CG_FIXE,merge
10,2018,2018_0000000011,PAU,AU,BMW,X3,2018.0,1885.0,4.0,2001.0,NaN,BLA,E,P,F,50.0,Capitale-Nationale (03),La Jacques-Cartier (22 ),22015.0,PAU_BMW_X3_2018.0_1885.0_4.0_2001.0_BLA_E_22015.0
19,2018,2018_0000000020,PAU,AU,FORD,F150,2018.0,2150.0,6.0,2706.0,NaN,NOI,E,P,M,34.0,Lanaudière (14),Joliette (61 ),61050.0,PAU_FORD_F150_2018.0_2150.0_6.0_2706.0_NOI_E_6...

In [123]:
vente_2018.drop(columns='_merge').head(2)

,merge,count_column_x,count_column_y
276509,PAU_BMW_X3_2018.0_1885.0_4.0_2001.0_BLA_E_22015.0,NaN,1.0
276510,PAU_FORD_F150_2018.0_2150.0_6.0_2706.0_NOI_E_6...,NaN,1.0

In [126]:
# vente_unitaire_2018 = pd.merge(saaq_2018_key, vente_2018, how='outer', left_on='merge', right_on='merge', indicator=True)
vente_unitaire_2018 = pd.merge(saaq_2018_key, vente_2018)
vente_unitaire_2018.head(2)

,AN,NOSEQ_VEH,CLAS,TYP_VEH_CATEG_USA,MARQ_VEH,MODEL_VEH,ANNEE_MOD,MASSE_NETTE,NB_CYL,CYL_VEH,NB_ESIEU_MAX,COUL_ORIG,TYP_CARBU,TYP_DOSS_PERS,PHYS_SEX,PHYS_AGE,REG_ADM,MRC,CG_FIXE,merge,count_column_x,count_column_y,_merge
0,2018,2018_0000000011,PAU,AU,BMW,X3,2018.0,1885.0,4.0,2001.0,NaN,BLA,E,P,F,50.0,Capitale-Nationale (03),La Jacques-Cartier (22 ),22015.0,PAU_BMW_X3_2018.0_1885.0_4.0_2001.0_BLA_E_22015.0,NaN,1.0,right_only
1,2018,2018_0000000020,PAU,AU,FORD,F150,2018.0,2150.0,6.0,2706.0,NaN,NOI,E,P,M,34.0,Lanaudière (14),Joliette (61 ),61050.0,PAU_FORD_F150_2018.0_2150.0_6.0_2706.0_NOI_E_6...,NaN,1.0,right_only

In [131]:
vente_unitaire_2018.to_excel(path_output + 'vente_unitaire_2018.xlsx')

In [130]:
len(vente_unitaire_2018.loc[vente_unitaire_2018['_merge'] == 'both'])

0

In [133]:
vente_unitaire_2018_cl = vente_unitaire_2018.drop(columns={'merge', 'count_column_x', 'count_column_y', '_merge'})
vente_unitaire_2018_cl

,AN,NOSEQ_VEH,CLAS,TYP_VEH_CATEG_USA,MARQ_VEH,MODEL_VEH,ANNEE_MOD,MASSE_NETTE,NB_CYL,CYL_VEH,NB_ESIEU_MAX,COUL_ORIG,TYP_CARBU,TYP_DOSS_PERS,PHYS_SEX,PHYS_AGE,REG_ADM,MRC,CG_FIXE
0,2018,2018_0000000011,PAU,AU,BMW,X3,2018.0,1885.0,4.0,2001.0,NaN,BLA,E,P,F,50.0,Capitale-Nationale (03),La Jacques-Cartier (22 ),22015.0
1,2018,2018_0000000020,PAU,AU,FORD,F150,2018.0,2150.0,6.0,2706.0,NaN,NOI,E,P,M,34.0,Lanaudière (14),Joliette (61 ),61050.0
2,2018,2018_0000000023,PAU,AU,NISSA,KICKS,2019.0,1430.0,4.0,1607.0,NaN,ROU,E,P,M,48.0,Estrie (05),Sherbrooke (43 ),43027.0
3,2018,2018_0000000045,CAU,AU,CHEVR,MALIB,2018.0,1401.0,4.0,1509.0,NaN,BLA,E,M,NaN,NaN,Montréal (06),Montréal (66 ),66072.0
4,2018,2018_0000341895,CAU,AU,CHEVR,MALIB,2018.0,1401.0,4.0,1509.0,NaN,BLA,E,M,NaN,NaN,Montréal (06),Montréal (66 ),66072.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377616,2018,2018_0006608202,PAU,AU,CHEVR,TAHOE,2017.0,2514.0,8.0,5297.0,NaN,NOI,E,P,M,44.0,Montérégie (16),Vaudreuil-Soulanges (71 ),71133.0
377617,2018,2018_0006608231,PAU,AU,HONDA,CIVIC,2018.0,1224.0,4.0,2001.0,NaN,ARG,E,P,F,46.0,Chaudière-Appalaches (12),Robert-Cliche (27 ),27008.0
377618,2018,2018_0006608252,CAU,AU,CHEVR,SILVE,2018.0,2473.0,8.0,5297.0,NaN,BLA,E,M,NaN,NaN,Montréal (06),Montréal (66 ),66023.0
377619,2018,2018_0006608263,PAU,AU,DODGE,GRAND,2018.0,1971.0,6.0,3608.0,NaN,BLA,E,P,M,33.0,Côte-Nord (09),La Haute-Côte-Nord (95 ),95025.0
377620,2018,2018_0006608265,CAU,AU,NISSA,PATHF,2018.0,2009.0,6.0,3509.0,NaN,NOI,E,M,NaN,NaN,Montréal (06),Montréal (66 ),66032.0

In [134]:
vente_unitaire_2018_cl.ANNEE_MOD.unique()

array([2018., 2019., 2017.])

In [ ]:
# Vente par région
# age des acheteurs
# top 20 des véhicules les plus achetés
# type de carburant (nb VEB et VHB)